*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --colortitulos: #602F9C;
    --colortextos: #777777;
    --colorbotones: #602F9C;
    --colorfondo: #ffffff;
    --paddingsecciones: 50px 0;
    --marginelementos: 40px;
}


/* Header */

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

/* Menu */

.menu-navegacion{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    overflow: hidden;
}


.logo{
    height: 70px;   
}

.logo img{
    display: block;
    height: 100%;
}

.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    text-decoration: none;
    color:#777777;
    padding-left: 10px;
    float: left;
    display: block;
    text-align: center;
}
     
/* Hero */

.hero{
    height: 650px;
    background-image: url("../imagenes/perrosgatosbanner.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.boton{
    width: 115px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    background: var(--colorbotones);
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px; 
    cursor: pointer;  
}

.boton:hover{
    background-color: #6ECED3;
}

/* Main */

.titulo-seccion{
    text-align: center;
    font-size: 40px;
    color: var(--colortitulos);
    margin-top: 100px;
    font-weight: 100;

}

.copy{
    text-align: center;
    color:#777777;
    margin: 20px 0px;
}

.productos{
    padding-top: var(--marginelementos);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    
}

.producto1{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    flex-direction: column;
   
}

.producto2{
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.producto3{
    width: 330px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px;
   text-align: center;
}

.producto1 img{
    width: 330px;
    height: 330px;
}

.producto2 img{
    width: 330px;
    height: 330px;
}

.producto3 img{
    width: 330px;
    height: 330px;
}

.productos h3{
    font-weight: 600;
}

.productos p{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}
.productos a{
    font-size: 500;
    text-decoration: none;
}
.contenedor-sub{
    width: 100%;
    background-color:#6ECED3;
    padding-bottom: 20px;
}
.conten-sub{
    width: 100%;
    height: 100%;
    background: rgba(0,22,0,0,7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conten-sub h4{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.conten-sub p{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    max-width: 500px;
    text-align: center;
}
.conten-sub form{
    width: 100%;
    max-width: 440px;
    display: flex;
}
.conten-sub form .campo{
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    outline: 0px;
}
.conten-sub form .btn-sub{
    padding: 15px 15px;
    border: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    background:#602F9C;
    color: white;
    cursor: pointer;
    outline: 0px;
}
.conten-sub form .btn-sub:hover{
    background: #f8aebf;
}

/*Footer*/

.contenedor-footer{
    background:#f8aebf;
}

.titulo-footer{
    text-align: center;
    font-size: 30px;
    color: var(--colortitulos);
    font-weight: 100;
    padding-top: 30px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales img{
    font-size: 30px;
    padding: 15px;
}

.copy-footer{
    text-align: center;
    color: var(--colortextos);
    padding-bottom: 20px;
}

@media screen and (max-width:800px){
    
    .menu-navegacion{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        transform: translateX(-100);
        all: 0.3s;
    }
    .enlaces{
        display: block;
        padding-left: 50px;
    }

  
}

/*pagina producto*/

.hero-producto{
    height: 400px;
    background-image: url("../imagenes/accesoriosmascotas.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff
}

.hero-producto h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-producto p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}


/*pagina contacto*/

.hero-contacto{
    height: 400px;
    background-image: url("../imagenes/accesoriosmascotas.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #6ECED3; 
    border-color: #6ECED3; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #6ECED3; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #602F9C;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

  /*pagina servicios*/

  .hero-servicios{
    height: 400px;
    background-image: url("../imagenes/banner2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
}

.contenedor-textos{
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff
}

.hero-servicios h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-servicios p{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.title{
    padding-top: 30px;
    margin-bottom: 30px;
}

/*Pagina nosotros*/

.encabezado{
    padding-top: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    color: #777777;
}

.hero-nosotros{
    height: 500px;
    background-image: url("../imagenes/bannercachorros.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff
}

.hero-nosotros h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-nosotros p{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contenedor-nosotros h2{
    text-align: center;
    padding-top: 30px;
    color: #602F9C;
    font-weight: 700;
    font-size: 36px;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.iconos{
    padding-top: 70px;
    flex-basis: calc(33,33% -1rem);
    text-align: center;
}
.parrafo{
    font-size: 16px;
    justify-content: space-between;
    padding-bottom: 30px;
    color: #777777;
}


    