
* {
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
}
.root {
	--colortitulos: #602F9C;
	--colortextos: #777777;
	--colorbotones: #602F9C;
	--colorfondo: #ffffff;
	--paddingsecciones: 50px 0;
	--marginelementos: 40px;
    --colortitulos: #602F9C;
    --colortextos: #777777;
    --colorbotones: #602F9C;
    --colorfondo: #ffffff;
    --rgba:(0,22,0,0,7);
    --color_1: #602F9C;
    --color_2: #777777;
    --color_3: #ffffff;
    --color_4: white;
    --background-color_1: #6ECED3;
}
