
$colortitulos: #602F9C; 
$color_1: #000000,;
$color_2: #ffffff;
$color_4: white;
$color_3: #ffffff;
$color_5: #001600;
$colortextos: #777777;
$colorbotones: #602F9C;
$background-color_1: #6ECED3;
$background-color_2: #f8aebf;
$marginelementos: 40px;
$paddingsecciones: 50px 0;


/* Header */

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: $paddingsecciones;
}
.logo {
	height: 70px;
	padding-right: 30px;
	img {
		display: block;
		height: 100%;
	}
}
.enlaces {
	li {
		list-style: none;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $color_1;
		padding-left: 10px;
		float: left;
		display: block;
		text-align: center;
	}
}
.boton-menu {
	margin-right: 30px;
	font-size: 25px;
	color: $color_2;
	cursor: pointer;
	display: none;
}
.redes-sociales-nav {
	display: flex;
	justify-content: right;
	img {
		font-size: 30px;
		padding: 5px;
	}
}

/* Hero */

.hero {
	height: 650px;
	background-image: url("../imagenes/perrosgatosbanner-min.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	h1 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 10px;
		color: $colortitulos;
	}
	p {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
		color: $color_1;
	}
}
.contenedor-textos {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $color_2;
}
.boton {
	width: 115px;
	display: block;
	margin: 0 auto;
	padding: 10px 10px;
	background: $colorbotones;
	color: $color_2;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_1;
	}
}

/* Main */

.titulo-seccion {
	text-align: center;
	font-size: 40px;
	color: $colortitulos;
	margin-top: 50px;
	font-weight: 100;
}
.copy {
	text-align: center;
	color: $color_1;
	margin: 20px 0px;
	font-size: 20px;
}
.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.productos {
	padding-top: $marginelementos;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 20px;
	height: 550px;
	h3 {
		font-weight: 400;
		font-size: 20px;
	}
	p {
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: 300;
	}
	a {
		font-size: 500;
		text-decoration: none;
	}
}
.producto1 {
	width: 330px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
	overflow: hidden;
	text-align: center;
	flex-direction: column;
	margin-right: 20px;
	&:hover {
		transform: translateY(-15px);
		box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
	}
	img {
		width: 330px;
		height: 330px;
	}
}
.producto2 {
	width: 330px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
	overflow: hidden;
	text-align: center;
	&:hover {
		transform: translateY(-15px);
		box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
	}
	img {
		width: 330px;
		height: 330px;
	}
}
.producto3 {
	width: 330px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
	overflow: hidden;
	margin-left: 20px;
	text-align: center;
	&:hover {
		transform: translateY(-15px);
		box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
	}
	img {
		width: 330px;
		height: 330px;
	}
}
.contenedor-sub {
	width: 100%;
	background-color: $background-color_1;
	padding-bottom: 20px;
}
.conten-sub {
	width: 100%;
	height: 100%;
	background: $color_2;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h4 {
		color: $color_2;
		font-size: 30px;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	p {
		color: $color_2;
		font-size: 17px;
		margin-bottom: 25px;
		max-width: 500px;
		text-align: center;
	}
	form {
		width: 100%;
		max-width: 440px;
		display: flex;
		.campo {
			width: 100%;
			padding: 15px 15px;
			font-size: 16px;
			border: none;
			border-radius: 3px 0px 0px 3px;
			outline: 0px;
		}
		.btn-sub {
			padding: 15px 15px;
			border: none;
			font-size: 16px;
			border-radius: 0px 3px 3px 0px;
			background: #602F9C;
			color: $color_4;
			cursor: pointer;
			outline: 0px;
			margin-bottom: 10px;
			&:hover {
				background: $background-color_2;
			}
		}
}
}
/*Footer*/

.contenedor-footer {
	background: $background-color_2;
	text-align: center;
}
.titulo-footer {
	text-align: center;
	font-size: 30px;
	color: $color_3;
	font-weight: 100;
	padding-top: 30px;
}
.redes-sociales {
	display: flex;
	justify-content: center;
	img {
		font-size: 30px;
		padding: 15px;
	}
}
.copy-footer {
	text-align: center;
	color: $color_2;
}
@media screen and (max-width:700px) {
	.logo {
		font-size: 30px;
	}
	.enlaces {
		li {
			a {
				font-size: 16px;
			}
		}
	}
}
@media screen and (max-width:800px) {
	.productos {
		margin-bottom: 900px;
	}
	.producto1 {
		margin-bottom: 40px;
		margin: 10px 10px;
	}
	.producto2 {
		margin-bottom: 40px;
		margin: 10px 10px;
	}
	.producto3 {
		margin-bottom: 40px;
		margin: 10px 10px;
	}
	.menu-navegacion {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		transform: translateX(-100);
		all: 0.3s;
	}
	.enlaces {
		display: block;
		padding-left: 50px;
	}
}
